[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eAsistent-scraper = "1.3.0"
"discord.py" = {editable = true, git = "https://github.com/Rapptz/discord.py"}

[dev-packages]

[requires]
python_version = "3.9"
